# MidTerm Project
    - Narava Pranay Manikanta
    - Date : 12/03/2022
    - MT50255
    
**Applying the EDA techniques on the Baltimore_City_Employee_Salaries dataset.**

### 1.Reading Data.


- **Importing Libraries.**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

- **Reading Dataset of Baltimore_city Employee_salary.**

In [2]:
df = pd.read_csv('Baltimore_City_Employee_Salaries.csv')
df

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
0,Aaron,D,Kareem,UTILITIES INST REPAIR II,Public Works - Water & Waste Water,A50,34115.0,44557.99,2018-08-27,FY2021,1
1,Aaron,R,Lynda,ELECTION JUDGES REGULAR,D01,D01,0.0,185.00,2020-12-08,FY2021,2
2,Aaron,G,Patricia,FACILITIES/OFFICE SERVICES II,Mayor's Office of Employment Development,A03,63457.0,29461.96,1979-10-24,FY2021,3
3,Abadir,O,Adam,OPERATIONS OFFICER II,Health Department,A65,74299.0,85450.35,2016-12-12,FY2021,4
4,Abaku,O,Aigbolosimuan,POLICE OFFICER EID,Police Department,A99,68226.0,102775.97,2018-04-17,FY2021,5
...,...,...,...,...,...,...,...,...,...,...,...
154182,NaN,9,BPD,BPD,Police Department,A99,65499.0,64127.83,1970-01-01,FY2011,154183
154183,NaN,0,BPD,BPD,Police Department,A99,63384.0,66187.45,1970-01-01,FY2011,154184
154184,NaN,1,BPD,BPD,Police Department,A99,61102.0,71989.51,1970-01-01,FY2011,154185
154185,NaN,2,BPD,BPD,Police Department,A99,59958.0,53235.59,1970-01-01,FY2011,154186
154186,NaN,3,BPD,BPD,Police Department,A99,68523.0,95152.89,1970-01-01,FY2011,154187

In [3]:
df.head()

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
0,Aaron,D,Kareem,UTILITIES INST REPAIR II,Public Works - Water & Waste Water,A50,34115.0,44557.99,2018-08-27,FY2021,1
1,Aaron,R,Lynda,ELECTION JUDGES REGULAR,D01,D01,0.0,185.00,2020-12-08,FY2021,2
2,Aaron,G,Patricia,FACILITIES/OFFICE SERVICES II,Mayor's Office of Employment Development,A03,63457.0,29461.96,1979-10-24,FY2021,3
3,Abadir,O,Adam,OPERATIONS OFFICER II,Health Department,A65,74299.0,85450.35,2016-12-12,FY2021,4
4,Abaku,O,Aigbolosimuan,POLICE OFFICER EID,Police Department,A99,68226.0,102775.97,2018-04-17,FY2021,5

In [4]:
df.tail()

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
154182,NaN,9,BPD,BPD,Police Department,A99,65499.0,64127.83,1970-01-01,FY2011,154183
154183,NaN,0,BPD,BPD,Police Department,A99,63384.0,66187.45,1970-01-01,FY2011,154184
154184,NaN,1,BPD,BPD,Police Department,A99,61102.0,71989.51,1970-01-01,FY2011,154185
154185,NaN,2,BPD,BPD,Police Department,A99,59958.0,53235.59,1970-01-01,FY2011,154186
154186,NaN,3,BPD,BPD,Police Department,A99,68523.0,95152.89,1970-01-01,FY2011,154187

In [5]:
df.shape

(154187, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154187 entries, 0 to 154186
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   lastName       153777 non-null  object
 1   middleInitial  121195 non-null  object
 2   firstName      154187 non-null  object
 3   jobClass       154003 non-null  object
 4   agencyName     154187 non-null  object
 5   agencyID       154187 non-null  object
 6   annualSalary   154187 non-null  float64
 7   grossPay       154187 non-null  float64
 8   hireDate       154185 non-null  object
 9   fiscalYear     154187 non-null  object
 10  ObjectId       154187 non-null  int64
dtypes: float64(2), int64(1), object(8)
memory usage: 12.9+ MB

- **Checking for No of Agency that present in Baltimore**

In [7]:
g_df = df.groupby(['agencyID','agencyName'])

In [8]:
c = 0
for i, group in g_df:
    print(c,i)
    #print(group['annualSalary'])
    c = c + 1

0 ('A01', "Mayor's Office")
1 ('A02', 'City Council')
2 ('A03', "Mayor's Office of Employment Development")
3 ('A04', 'Recreation & Parks - Recreation')
4 ('A06', 'Housing & Community Development')
5 ('A08', "Mayor's Office of Homeless Services")
6 ('A09', 'Liquor License Board')
7 ('A10', 'MOCFS')
8 ('A11', 'Office of the Inspector General')
9 ('A12', 'Finance - Accounting & Payroll')
10 ('A14', 'Finance - Collections')
11 ('A15', 'Comptroller - Real Estate')
12 ('A16', 'Comptroller')
13 ('A17', 'Finance - Purchasing')
14 ('A18', 'Finance - Treasury')
15 ('A19', 'Planning')
16 ('A23', 'Finance - Administration & Budgets')
17 ('A24', 'Comptroller - Audits')
18 ('A26', "Labor Commissioner's Office")
19 ('A28', 'Wage Commissioner')
20 ('A29', "State's Attorney's Office")
21 ('A30', 'Law Department')
22 ('A31', 'Courts - Circuit Court')
23 ('A32', 'Finance - Risk Management')
24 ('A33', 'Legislative Reference')
25 ('A35', 'Elections')
26 ('A37', "Courts - Orphan's Court")
27 ('A38', "Sheriff's Office")
28 ('A39', 'BCIT 311 Call Center')
29 ('A40', 'Baltimore City Office of Information and Technology')
30 ('A41', 'Public Works - Administration')
31 ('A44', 'Cable & Communications')
32 ('A46', 'Environmental Control Board')
33 ('A49', 'Transportation - Highways')
34 ('A50', 'Public Works - Water & Waste Water')
35 ('A51', 'Community Relations (inactive)')
36 ('A51', 'Office of Civil Rights and Wage Enforcement')
37 ('A52', 'Retire - ERS/EOS')
38 ('A53', 'FIN-RSP Admin (001)')
39 ('A54', 'Retire - Fire & Police')
40 ('A57', 'Councilmatic Services')
41 ('A64', 'Fire Department')
42 ('A65', 'Health Department')
43 ('A67', 'Recreation & Parks - Administration')
44 ('A68', 'Recreation & Parks - Parks')
45 ('A70', 'Public Works - Solid Waste')
46 ('A73', 'Municipal Zoning & Appeals')
47 ('A75', 'Enoch Pratt Free Library')
48 ('A83', 'Human Resources')
49 ('A84', 'Transportation - Towing')
50 ('A85', 'General Services')
51 ('A86', 'War Memorial Commission')
52 ('A88', 'Comptroller - Communication Services')
53 ('A9', 'Police Department')
54 ('A90', 'Transportation - Traffic')
55 ('A91', 'Convention Center')
56 ('A99', 'Police Department')
57 ('B49', 'Transportation Highways')
58 ('B68', 'Rec & Parks')
59 ('B70', 'Public Works - Solid Waste (weekly)')
60 ('BPD', 'BPD 1')
61 ('C90', 'Transportation - Crossing Guards')
62 ('D01', 'D01')
63 ('P04', 'Rec & Parks (Part-Time)')
64 ('P65', 'HLTH-Emergency Medical Team')
65 ('P83', 'HR Test Monitor')
66 ('R01', 'R01')
67 ('SCS', 'SCS - Special City Services')
68 ('U01', 'Una 01 (001)')
69 ('W03', 'Youth Cust')
70 ('W07', 'W07 - OED - Youth Works')
71 ('W08', 'TANF Cust')

- **Checking for Null values in each Column.**

In [9]:
df['lastName'].isna().values.any()

True

In [10]:
df.loc[df.lastName.isna()]

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
31063,NaN,1,BPD,BPD 1,BPD 1,BPD,76547.0,116220.67,2012-03-21,FY2020,31064
31067,NaN,0,BPD,BPD 10,BPD 1,BPD,82999.0,86300.99,2007-04-25,FY2020,31068
31069,NaN,1,BPD,BPD 11,BPD 1,BPD,87924.0,116628.37,2001-01-03,FY2020,31070
31075,NaN,2,BPD,BPD 12,BPD 1,BPD,101031.0,120131.04,2002-01-03,FY2020,31076
31080,NaN,3,BPD,BPD 13,BPD 1,BPD,92548.0,109394.45,1993-07-12,FY2020,31081
...,...,...,...,...,...,...,...,...,...,...,...
154182,NaN,9,BPD,BPD,Police Department,A99,65499.0,64127.83,1970-01-01,FY2011,154183
154183,NaN,0,BPD,BPD,Police Department,A99,63384.0,66187.45,1970-01-01,FY2011,154184
154184,NaN,1,BPD,BPD,Police Department,A99,61102.0,71989.51,1970-01-01,FY2011,154185
154185,NaN,2,BPD,BPD,Police Department,A99,59958.0,53235.59,1970-01-01,FY2011,154186
154186,NaN,3,BPD,BPD,Police Department,A99,68523.0,95152.89,1970-01-01,FY2011,154187

- **In LastName it contains some Null values so we are replaceing Null values with "UNK".**

In [11]:
df.lastName.fillna('UNK', inplace=True)

In [12]:
df.lastName

0          Aaron
1          Aaron
2          Aaron
3         Abadir
4          Abaku
           ...
154182       UNK
154183       UNK
154184       UNK
154185       UNK
154186       UNK
Name: lastName, Length: 154187, dtype: object

In [13]:
df['lastName'].isna().values.any()

False

In [14]:
df['middleInitial'].isna().values.any()

True

In [38]:
df.loc[df.middleInitial.isna()]

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
5,Abbeduto,NaN,Mack,ASSISTANT STATE'S ATTORNEY,State's Attorney's Office,A29,72033.0,73367.20,2017-05-22,FY2021,6
6,Abbott-Cole,NaN,Michelle,OPERATIONS OFFICER III,Transportation - Traffic,A90,79827.0,81305.63,2014-11-28,FY2021,7
9,Abdrabou,NaN,Fouad,POLICE OFFICER,Police Department,A99,55117.0,41074.56,2020-08-25,FY2021,10
10,Abdul,NaN,Jalil,ENGINEER I,Public Works - Water & Waste Water,A50,67771.0,69809.82,2017-07-17,FY2021,11
13,Abdul-Hamid,NaN,Umar,OPERATIONS TECH APPRENTICE,Public Works - Water & Waste Water,A50,37822.0,62279.75,1995-01-17,FY2021,14
...,...,...,...,...,...,...,...,...,...,...,...
154097,Zhu,NaN,Qing,BUDGET/MANAGEMENT ANALYST III,Finance - Administration & Budgets,A23,68500.0,43435.23,2004-10-01,FY2011,154098
154104,Zillmann,NaN,Josephine,DEPUTY SHERIFF,Sheriff's Office,A38,38981.0,38051.40,2008-05-01,FY2011,154105
154107,Zohios,NaN,John,POLICE OFFICER,Police Department,A99,42290.0,16427.97,2010-12-15,FY2011,154108
154110,Zucker,NaN,Heather,SALES MANAGER,Convention Center,A91,56500.0,46377.13,2007-10-18,FY2011,154111
154112,Zurek,NaN,Elizabeth,NURSE PRACTITIONER,Health Department,A65,73845.0,66745.30,2006-06-29,FY2011,154113

- **In middleintials column also contains some Null Values we are replacing Null values with the first name first letter.**

In [39]:
midint = df['firstName'].astype(str).str[0]

In [40]:
df.middleInitial.fillna(midint, inplace=True)

In [41]:
df.middleInitial[5]

'M'

In [42]:
df['middleInitial'].isna().values.any()

False

In [20]:
df['firstName'].isna().values.any()

False

In [21]:
df['jobClass'].isna().values.any()

True

In [22]:
df.loc[df.jobClass.isna()]

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
152,Allen,NaN,Charles,NaN,Police Department,A99,0.0,200.00,2019-03-06,FY2021,153
160,Allen,NaN,Franklin,NaN,General Services,A85,0.0,49.00,2021-02-11,FY2021,161
281,Aka,NaN,Tongwa,NaN,Mayor's Office,A01,20.0,4804.68,2021-05-03,FY2021,282
377,Alvarez-Gibson,NaN,Aiko,NaN,City Council,A02,0.0,570.00,2021-06-14,FY2021,378
471,Barnes,S,Tonyae,NaN,W07 - OED - Youth Works,W07,0.0,282.00,2020-07-13,FY2021,472
...,...,...,...,...,...,...,...,...,...,...,...
13844,Winiarski,NaN,Dylan,NaN,Police Department,A99,0.0,400.00,2018-09-26,FY2021,13845
13894,Wood,NaN,Andre,NaN,Convention Center,A91,0.0,990.08,2021-03-25,FY2021,13895
13899,Winn,NaN,Jessica,NaN,Health Department,A65,0.0,654.08,2021-06-17,FY2021,13900
14103,Young,NaN,Khalia,NaN,Office of Civil Rights and Wage Enforcement,A51,0.0,6880.00,2021-01-25,FY2021,14104
14302,Wright III,E,Lewis,NaN,Police Department,A99,0.0,23192.10,2000-07-20,FY2021,14303

In [23]:
df.jobClass.fillna(df.agencyName, inplace=True)

In [24]:
df['jobClass'].isna().values.any()

False

In [25]:
df['agencyID'].isna().values.any()

False

In [26]:
df['agencyName'].isna().values.any()

False

In [27]:
df['annualSalary'].isna().values.any()

False

In [28]:
df['grossPay'].isna().values.any()

False

In [29]:
df['hireDate'].isna().values.any()

True

In [43]:
df.loc[df.hireDate.isna()]

,lastName,middleInitial,firstName,jobClass,agencyName,agencyID,annualSalary,grossPay,hireDate,fiscalYear,ObjectId
5126,Greer,D,Deâ€™Ondre,SEASONAL MAINT AIDE,General Services,A85,14.0,2055.23,NaN,FY2021,5127
6097,Horsey,C,Rashad,POLICE OFFICER TRAINEE,Police Department,A99,55117.0,20857.58,NaN,FY2021,6098

In [31]:
df['fiscalYear'].isna().values.any()

False

In [32]:
df['ObjectId'].isna().values.any()

False

- **No of People in each Agency**

In [33]:
NPD= pd.value_counts(df.agencyName)

In [34]:
NPD

Police Department                     34707
Fire Department                       18374
Public Works - Water & Waste Water    16353
Health Department                      9640
Transportation - Highways              7007
                                      ...
War Memorial Commission                   8
Wage Commissioner                         3
HLTH-Emergency Medical Team               3
FIN-RSP Admin (001)                       2
Una 01 (001)                              1
Name: agencyName, Length: 71, dtype: int64

In [35]:
highestpay = g_df.annualSalary.max()
Lowestpay = g_df.annualSalary.min()

In [36]:
highestpay

agencyID  agencyName
A01       Mayor's Office                              255000.0
A02       City Council                                187200.0
A03       Mayor's Office of Employment Development    152280.0
A04       Recreation & Parks - Recreation              66747.0
A06       Housing & Community Development             204729.0
                                                        ...
SCS       SCS - Special City Services                  50000.0
U01       Una 01 (001)                                     0.0
W03       Youth Cust                                   16224.0
W07       W07 - OED - Youth Works                      35000.0
W08       TANF Cust                                    15080.0
Name: annualSalary, Length: 72, dtype: float64

In [37]:
Lowestpay

agencyID  agencyName
A01       Mayor's Office                                  0.0
A02       City Council                                    0.0
A03       Mayor's Office of Employment Development        0.0
A04       Recreation & Parks - Recreation                 0.0
A06       Housing & Community Development                 0.0
                                                       ...
SCS       SCS - Special City Services                  2484.0
U01       Una 01 (001)                                    0.0
W03       Youth Cust                                  15080.0
W07       W07 - OED - Youth Works                         0.0
W08       TANF Cust                                   15080.0
Name: annualSalary, Length: 72, dtype: float64